# User Reports
## **Melissa Anderson** - Low Proficiency with Computers
### Inputs requested for scenario
- Departure Station: Jamaica, Arrival Station: NY Penn Station, Date March 29th 2025.
### Notes
- Was very nervous during testing so I kept it light on the questions. To help the scenario I gave an example of a similar app, ie: Google maps and route times.
- Had to repeat stations and date for the scenario but was quick to find the correct stations and date once confirmed. No other help other than repeating stations and date were given.
- She was relieved how easy the app was to use.
- Likes: The weather display, how easy/simple it was to use with the inputs.
- Dislikes: No major dislikes. 
- Confusion Points: Was confused by the date link copy icon. Maybe change to just be a normal header.
- Forgot to ask on the recording but after I had put everything away I asked her if she would of prefered having a map to see/interact with. Her answer: "No, I like selecting it like you have it."


## **Tye Anderson** - High Proficiency with Computers
### Inputs requested for scenario
- Departure Station: Jamaica, Arrival Station: NY Penn Station, Date March 29th 2025.
### Notes
- Regularly works with UI improvements, provided a lot of insights.
- Once again to help with understanding the scenario I gave the same example of Google Maps and proceeded to show the app and give the scenario.
- After putting in the inputs confirmed stations and was able to predict delay.
- He asked a few questions which I answered after the scenario to help clarify and to discuss things he disliked.
- Likes: Tab functionality, alphabet functionality (typing in dropdown), tabbing.
- Dislikes: When clicking predict, wants the screen to either snap to the answer or pop up. Resize weather to be smaller and possibly displayed above the input dropdowns/date which could allow for the prediction minutes to be displayed without pop up/snapping.
- When asked if a map would be beneficial he didnt think so. Later after some discussion he asked if he was to be assumed to be a regular commuter, I responded that he was to be but it didnt have to always be the case. He said that a map wouldnt be really useful for everday commuters, but for someone new they would probably want the inputs and the visualization of map. 
- He asked for the relevance of weather, explained the reason for the weather being that we're using the historical LIRR data with weather to help predict delay, thats when he recommended with the flow of information weather should probably be along the top.

## **Kate Shipley** - Low Proficiency with Computers
### Notes
- Not very tech savvy and didn't want to test this, so I kept interaction brief.
- Walked through example of user scenario and then had her try it on her own.
- She was able to find the correct stations
- She had trouble understanding the delay results and what the minutes meant. I explained that it was the predicted delay in minutes, but she still seemed confused about how to interpret that information.
- Likes: How simple it was to use with the inputs.
- Dislikes:  Information overload with the weather display and the delay prediction. She said it was too much information at once and it was overwhelming.
- Confusion Points: The delay prediction and the weather display. She said it was too much information at once and it was overwhelming. Maybe simplify the weather display or make it more visually appealing to make it easier to understand.

## **Cassidy Sterrett** - Medium Proficiency With Computers
### Notes
- Not tech savvy but still has some expierence with computers being that she is a student. Rated her proficiency a 5 out of 10.
- Left her in the room by herself to see how much she could figure out on her own.
- Understood how to use drop boxes to select departure station, arrival station and date.
- When going over the video she seemed confused/ignored the data the could be downloaded at the bottom of page(REMOVE?)
- Was a little confused why the arrival station filtered based off departure station. 
- Agreed that would be helpful to have a map to better understand station branches
- Conclusion: She thought the app was overall simple and easy to use with only a few confusing points such as the filtered arival station and the data that could be downloaded at the bottom of the page. Thought adding a map would improve app. 

# User Reports
## **Josh Arbon** - High Proficiency with Computers
### Inputs requested for scenario
- Departure Station: Jamaica, Arrival Station: Speonk, Date May 22nd 2025.
### Notes
- Hasn't really used Public Transportation before so this was new to him.
- Was a little overwhelmed when looking at `Feature values passed to model`.
- Was surprised when it was as easy as four button clicks. "That's all I have to do?".
- Likes: The clean interface.
- Dislikes: No major dislikes. 
- Confusion Points: None stated, but observed he scrolled to select instead of typing which can be hard to find specific stations.
