# User Reports
## **Melissa Anderson** - Low Proficiency with Computers
### Inputs requested for scenario
- Departure Station: Jamaica, Arrival Station: NY Penn Station, Date March 29th 2025.
### Notes
- Was very nervous during testing so I kept it light on the questions. To help the scenario I gave an example of a similar app, ie: Google maps and route times.
- Had to repeat stations and date for the scenario but was quick to find the correct stations and date once confirmed. No other help other than repeating stations and date were given.
- She was relieved how easy the app was to use.
- Likes: The weather display, how easy/simple it was to use with the inputs.
- Dislikes: No major dislikes. 
- Confusion Points: Was confused by the date link copy icon. Maybe change to just be a normal header.
- Forgot to ask on the recording but after I had put everything away I asked her if she would of prefered having a map to see/interact with. Her answer: "No, I like selecting it like you have it."


## **Tye Anderson** - High Proficiency with Computers
### Inputs requested for scenario
- Departure Station: Jamaica, Arrival Station: NY Penn Station, Date March 29th 2025.
### Notes
- Regularly works with UI improvements, provided a lot of insights.
- Once again to help with understanding the scenario I gave the same example of Google Maps and proceeded to show the app and give the scenario.
- After putting in the inputs confirmed stations and was able to predict delay.
- He asked a few questions which I answered after the scenario to help clarify and to discuss things he disliked.
- Likes: Tab functionality, alphabet functionality (typing in dropdown), tabbing.
- Dislikes: When clicking predict, wants the screen to either snap to the answer or pop up. Resize weather to be smaller and possibly displayed above the input dropdowns/date which could allow for the prediction minutes to be displayed without pop up/snapping.
- When asked if a map would be beneficial he didnt think so. Later after some discussion he asked if he was to be assumed to be a regular commuter, I responded that he was to be but it didnt have to always be the case. He said that a map wouldnt be really useful for everday commuters, but for someone new they would probably want the inputs and the visualization of map. 
- He asked for the relevance of weather, explained the reason for the weather being that we're using the historical LIRR data with weather to help predict delay, thats when he recommended with the flow of information weather should probably be along the top.