# User Reports
## **Melissa Anderson** - Low Proficiency with Computers
### Inputs requested for scenario
- Departure Station: Jamaica, Arrival Station: NY Penn Station, Date March 29th 2025.
### Notes
- Was very nervous during testing so I kept it light on the questions. To help the scenario I gave an example of a similar app, ie: Google maps and route times.
- Had to repeat stations and date for the scenario but was quick to find the correct stations and date once confirmed. No other help other than repeating stations and date were given.
- She was relieved how easy the app was to use.
- Likes: The weather display, how easy/simple it was to use with the inputs.
- Dislikes: No major dislikes. 
- Confusion Points: Was confused by the date link copy icon. Maybe change to just be a normal header.
- Forgot to ask on the recording but after I had put everything away I asked her if she would of prefered having a map to see/interact with. Her answer: "No, I like selecting it like you have it."